@model PruebaMiguelArias.Models.Doctor

<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-5 mt-4 border p-3 rounded bg-white shadow-lg">
            <h2 class="text-center mb-4">Registrar nuevo doctor</h2>
            <form asp-controller="Doctors" asp-action="Create" method="post" class="needs-validation" novalidate>
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger mb-3"></div>

                <div class="mb-3">
                    <label for="Document" class="form-label">Documento</label>
                    <input asp-for="Document" type="number" class="form-control" id="Document" required>
                    <span asp-validation-for="Document" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label for="FullName" class="form-label">Nombre Completo</label>
                    <input asp-for="FullName" class="form-control" id="FullName"  required>
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label for="Specialty" class="form-label">Especialidad</label>
                    <input asp-for="Specialty" class="form-control" id="Specialty" required>
                    <span asp-validation-for="Specialty" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control" id="Email"  required>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label for="Phone" class="form-label">Telefono</label>
                    <input asp-for="Phone" type="number" class="form-control" id="Phone" required>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Guardar</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}